@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    Font size: 16px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
    padding: 100px 40px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0px 0px 14px 1px #00000024;
    overflow: hidden;
    border-radius: 5px;
}

.item {
    padding: 30px 30px;
}

.item1 {
    background-color: white;
}

.item1 h2 {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.item1 h3 {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 15px;
}

.item1 p {
    color: hsl(218, 22%, 67%);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.item2 {
    background-color: hsl(179, 62%, 43%);
}

.item2 h3 {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.item2 p {
    color: hsl(204, 43%, 93%);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.item2 p #price {
    font-size: 2.5rem;
    font-weight: 700;
}

.item2 p #month {
    position: relative;
    color: hsl(218, 18%, 79%);
    padding-left: 20px;
    top: -10px;
}

.item2 .button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 1px #00000024;
    outline: none;
}

.item3 {
    background-color: #4ababd;
}

.item3 h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 18px;
}

.item3 p {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.3rem;
}

@media only screen and (min-width:768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .item1 {
        grid-area: 1/ 1/ 2/ 3;
    }
    .item2,
    .item3 {
        grid-row: 2;
    }
}